<f:layout name="Default" />
<f:section name="main">
  <f:security.ifAuthenticated>
    <f:then>
      <f:link.page class="btn btn-danger" id="ns-sociallogin-logout"
        additionalParams="{nsSocialLogin: 1, logintype:'logout', providers:providers.0}" addQueryString="TRUE"
        title="{f:translate(key:'logout.label')}" noCache="TRUE">
        <f:translate key="logout.label" />
      </f:link.page>
    </f:then>
    <f:else>
      <f:if condition="{provider}">
        <div
          class="theme-social-login theme-icon-big theme-icon-auto-width theme-icon-color theme-icon-radius theme-icon-with-Label theme-icon-full-width theme-icon-with-style">
          <ul class="social-icon-list">
            <f:variable name="authUrl">
              <f:uri.page pageType="1712813073"
                additionalParams="{tx_nssociallogin_pi1:{provider:provider.name,redirect:'{sociallogin:currentUri()}'}}"
                noCache="TRUE" />
            </f:variable>
            <li>
              <a href="{authUrl}" class="btn btn-block btn-social btn-facebook">
                <f:image src="EXT:ns_social_login/Resources/Public/Icons/facebook.svg" height="24" />
                <span>
                  <f:translate key="facebook.label" extensionName="NsSocialLogin"/>
                </span>
              </a>
            </li>
          </ul>
        </div>
      </f:if>
    </f:else>
  </f:security.ifAuthenticated>
</f:section>
