.btn-social {
    padding: 0;
    overflow: unset;
}

.btn-social>:first-child {
    position: relative;
    left: 0;
    top: 0;
    bottom: 0;
    width: 45px;
    height: 24px;
    line-height: 34px;
    font-size: 25px;
    text-align: center;
    border-right: 1px solid rgba(0, 0, 0, .2);
}

.tx-ns-social-login {
    margin-top: 100px;
    margin-bottom: 100px;
}

.tx-ns-social-login .theme-social-login .btn-social {
    width: auto;
    border-color: transparent;
    min-width: auto;
}

.theme-icon-auto-width .btn-social {
    width: auto;
}

.theme-icon-full-width .btn-social {
    width: 350px;
}

/* Icon with label */
.social-icon-list {
    display: inline-block;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

.social-icon-list li {
    padding: 10px 16px;
}

.tx-ns-social-login .social-icon-list li::after {
    display: none;
}

.theme-icon-with-Label .btn-social>:first-child {
    position: relative;
    left: 0;
    top: 0;
    bottom: 0;
    width: 45px;
    line-height: 34px;
    font-size: 25px;
    text-align: center;
    border-right: 1px solid rgba(0, 0, 0, .2);
}

.btn-social {
    display: flex;
    align-items: center;
    padding: 4px 0;
}


.btn-social span {
    padding: 2px 12px;
}

/* Theme Size Mode */
.theme-icon-big .btn-social>:first-child {
    font-size: 25px;
}

.theme-icon-bigest .btn-social>:first-child {
    font-size: 32px;
}

.theme-icon-small .btn-social>:first-child {
    font-size: 22px;
}

.theme-icon-smallest .btn-social>:first-child {
    font-size: 18px;
}

/* Theme icon style */
.theme-icon-radius .btn-social {
    border-radius: 5px;
}

.theme-icon-square .btn-social {
    border-radius: 0;
}

.theme-icon-round .btn-social {
    border-radius: 50px;
}

.theme-icon-round .btn-social>:first-child {
    border-right: none;
}

/* Theme background dark */
.theme-icon-bg-dark .btn-social {
    background: #000;
}

/* icon only */
.theme-icon-with-icononly .btn-social>:first-child {
    border-right: none;
}


.theme-icon-bg-light .btn-social {
    background: transparent;
    color: #000;
}

/* dark Button Css */
.theme-icon-bg-dark .btn-social.btn-facebook {
    background-color: #2d4373;
}

.theme-icon-bg-dark .btn-social.btn-facebook:hover {
    background-color: #3b5998;
}


.theme-icon-bg-dark .btn-social.btn-github {
    background-color: #2b2b2b;
}

.theme-icon-bg-dark .btn-social.btn-github:hover {
    background-color: #444;
}

.theme-icon-bg-dark .btn-social.btn-tumblr {
    background-color: #1c2d3f;
}

.theme-icon-bg-dark .btn-social.btn-tumblr:hover {
    background-color: #2c4762;
}

.theme-icon-bg-dark .btn-social.btn-yahoo {
    background-color: #500a6f;
}

.theme-icon-bg-dark .btn-social.btn-yahoo:hover {
    background-color: #720e9e;
}

/* hover label effect */
.theme-icon-with-hoverlabel .btn-social {
    display: inline-block;
    transition: 0.2s;

}

.theme-icon-with-hoverlabel .btn-social span {
    transition: 0.2s;
    display: none;

}

.theme-icon-with-hoverlabel .btn-social:hover {
    display: flex;
}

.theme-icon-with-hoverlabel .btn-social:hover span {
    display: block;
}

/* style 9 animation hover effect */
.theme-icon-with-style9 .btn-social:hover,
.theme-icon-with-style9 .btn-social:focus,
.theme-icon-with-style9 .btn-social:active {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
}

.theme-icon-with-style9 .btn-social {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgb(0 0 0 / 0%);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}



.tx-ns-social-login .btn.btn-facebook {
    background-color: #1877F2;
}


.tx-ns-social-login .btn.btn-facebook:hover {
    background-color: #2d4373;
}


.tx-ns-social-login .theme-icon-with-hoverlabel .btn-social {
    transition: all 1s ease-in-out;
}

.tx-ns-social-login .social-icon-list span {
    color: #fff;
}

.tx-ns-social-login .theme-icon-with-style9 li a {
    display: flex;
}

.tx-ns-social-login a {
    text-decoration: none;
}

.tx-ns-social-login .theme-icon-full-width .btn-social {
    width: auto;
}